.good {
    background-color: green;
    color: white;
}
.okay {
    background-color: yellow;
    color: black;
}



.bad {
    background-color: red;
    color: white;
}

.forcast-block{
    padding-left: 0px;
    background-color: darkgray;
    color:white;

    
}

.noList {
    list-style: none;
    padding: 0px 10px 0px 10px
}