.good {
    background-color: green;
    color: white;
}
.okay {
    background-color: yellow;
    color: black;
}



.bad {
    background-color: red;
    color: white;
}

.forcast-block{
    list-style: none;
    background-color: darkgray;
    color:white;

    margin: 15px;
}

.noList {
    list-style: none;
}